# Compiled Object files
*.slo
*.lo
*.o
*.obj

# temporary texts & vtks & plots
*.txt
*.vtk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary matlab
*.m~

# Folders for saves
./plots/
./txts/
